<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yp.manager.dao.TbItemMapper">
 <!--   <resultMap id="BaseResult" type="com.yp.common.entity.TbItem">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="sell_point" jdbcType="VARCHAR" property="sellPoint"/>
        <result column="price" jdbcType="BIGINT" property="price"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="barcode" jdbcType="VARCHAR" property="barcode"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="cid" jdbcType="BIGINT" property="cid"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
    </resultMap>-->
    <sql id="Base_Column_List">
        id,title,sell_point,price,num,barcode,image,cid,status,created,updated
    </sql>
    <!--1.根据 id 查询对象-->
    <select id="getTbItem" parameterType="java.lang.Long" resultType="com.yp.common.entity.TbItem">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_item WHERE ID = #{id}
    </select>

    <!--2.获取所有的产品-->
    <select id="getTbItemList" resultType="com.yp.common.entity.TbItem">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_item
    </select>



</mapper>